/* Profile.css */

.profile-container {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  
  .profile-tabs {
    margin-top: 10px;
  }
  
  .profile-content {
    margin-top: 10px;
    text-align: center;
    box-shadow: 0 0 10px #6643b5;
  }
  
  .profile-content h1 {
    font-size: 2em;
    color: #333;
  }
  
  .profile-content h3 {
    font-size: 1.2em;
    color: 0 0 10px #6643b5;
    margin-bottom: 10px;
  }
  
  .tab-content {
    padding: 10px;
    background: #f9f9f9;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }
  