@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Satisfy', cursive;; */
}

:root {
  --primaryColor:#8711b6;
  --SecondaryColor:#4808df;
  --heading-color:#3044b4;
  --textColor:hsl(240, 33%, 36%);
  --font-name:'Satisfy', cursive;
 }
 body{
  font-family: var(--font-name);
 }
 
 
section {
  padding: 50px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

a{
  text-decoration: none;
  color:unset;
}

ul{
  list-style: none;
}

li{
  list-style: none;
}

section{
  padding-left: 4rem 0 2rem;
}

.primary__btn {
  background: var(--SecondaryColor) !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 0.4rem 1.5rem !important;
}

.primary__btn a {
  font-size: 1.1rem;
  text-decoration: none;
  color:#541ed3;
}
.primary__btn a:hover {
  color: inherit;
}
.secondary__btn {
  background: transparent !important;
  color: #0b2727 !important;
  border: none !important;
  font-weight: 500 !important;
}

.secondary__btn a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--heading-color);
}

.secondary__btn a:hover {
  color: inherit;
}

.section__subtitle {
  background: var(--secondary-color);
  font-family: var(--subtitle-font-name);
  width: max-content;
  padding: 0px 0.5rem;
  padding-right: 1rem;

  border-radius: 50px;
  font-weight: 500;
  font-size: 1.7rem;
  color: var(--heading-color);
}
.icon{
  font-size: 2rem;
  cursor: pointer;
}
